
@{
	ViewBag.Title = "Cesar";
}

<h2>Cesar</h2>

<br />
<h1>Cargue su archivo</h1>
<br />
<h2 class="danger">@ViewBag.Error01</h2>
<h2 class="danger">@ViewBag.Error02</h2>
<h2 class="success">@ViewBag.Ok</h2>
<br />
<form method="post" enctype="multipart/form-data">
	<input type="file" name="ArchivoEntrada" />
	<br />
	<h4>Ingrese Clave</h4>
	<input type="text" name="llave" />
	<br />
	<button type="submit">Iniciar</button>
</form>
