@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Laboratorio No.02 "Cifrado de Datos"
	<br />Serie I "Algoritmos de cifrado de transposición" 
	<br />Serie II "Algoritmo S-DES"
	<br />Serie III "Algoritmo RSA"</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ZigZag</h2>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("ZigZag", "Home")'">Iniciar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cesar</h2>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Cesar", "Home")'">Iniciar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>S-DES</h2>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("SDES", "Home")'">Iniciar &raquo;</a></p>
    </div>
</div>